html{
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-left: 3%;
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1.125rem 15%;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    padding: 0px;
    display: flex;
    list-style-type: none;
}

.nav li {
    font-size: 1.125rem;
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 1.125rem;
}

.nav li:last-child {
    margin-right: 0;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 3rem 15%;
    align-items: center;
}

.hero-container {
    max-width: 50%;
}

.hero-slogan {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
}

.hero-text {
    margin-top: 1.125rem;
    color: #e5e7eb;
    font-size: 18px;
}

.button a {
    margin-top: 1.125rem;
    text-decoration: none;
    color: #e5e7eb;
    display: inline-block;
    padding: .5rem 1.125rem;
    border-radius: 5px;
    background-color: #3882f6;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3rem 20%;
}

.section-title {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.container-features {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.feature {
    width: 15%;
}

.feature-image {
    width: 95%;
    padding-top: 95%;
    border: #3882f6 solid 3px;
    border-radius: 15%;
}

.feature p {
    text-align: center;
    font-size: 1.125rem;
}

.section-quote {
    padding: 3rem 20%;
    background-color: #E5E7EB;
}

.quote {
    font-size: 2.25rem;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    margin-bottom: 0;
}


.quote-signature {
    font-size: 1.125rem;
    text-align: right;
    font-weight: 900;
}

.section-cta {
    padding: 3rem 15%;
}

.container-cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #3882f6;
    padding: 1rem 7.14%;
    justify-content: space-between;
    color: #E5E7EB;
}

.cta-title {
    font-weight: 900;
    font-size: 1.125rem;
    margin-bottom: 0;
}

.cta-text {
    margin-top: 0;
}

.container-button a {
    color: #F9FAF8;
    text-decoration: none;
    padding: .5rem 2rem;
    text-align: center;
    border: solid #F9FAF8 2px;
    border-radius: .5rem;
}

.section-footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 1rem;
}

.section-footer p {
    text-align: center;
    margin: 0;
}