html{
    font-size: 16px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-left: 3%;
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 1.125rem 15%;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    padding: 0px;
    display: flex;
    list-style-type: none;
}

.nav li {
    font-size: 1.125rem;
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 1.125rem;
}

.nav li:last-child {
    margin-right: 0;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 3rem 15%;
    align-items: center;
}

.hero-container {
    max-width: 50%;
}

.hero-slogan {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
}

.hero-text {
    margin-top: 1.125rem;
    color: #e5e7eb;
    font-size: 18px;
}

.button a {
    margin-top: 1.125rem;
    text-decoration: none;
    color: #e5e7eb;
    display: inline-block;
    padding: .5rem 1.125rem;
    border-radius: 5px;
    background-color: #3882f6;
}

.section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3rem 15%;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
}

.container-features {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.feature {
    width: 20%;
}

.feature-image {
    width: 100%;
    padding-top: 100%;
    border: #3882f6 solid 3px;
    border-radius: 15%;
}

.feature p {
    text-align: center;
    font-size: 1.125rem;
}